<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Reference for calling the Content/Custom.css-->
    <link href="@Url.Content("~/Content/Custom.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles",false)
   
    <!-- THIS FILES ARE WRITTEN IN (~/CONTENT/Custom.css)-->
    <!--
    <style>
        .dropbtn {
            background-color: #000;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #808080;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #808080;
        }
    </style>
    -->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("People", "Index", "People")</li>
                    <!-- Dropdown-->
                    <li class="dropdown">
                        <a href="#" class="dropbtn" data-toggle="dropdown">Products<b class="caret"></b></a>
                        <div class="dropdown-content">
                            <a role="separator" class="divider"></a>
                            <a class="dropdown-header">LAPTOP</a>
                            <a role="separator" class="divider"></a>
                            <a href="http://localhost:59321/Home/About">PriceList</a>
                            <a href="#">Pants</a>
                            <a href="#">Denims</a>
                        </div>
                    </li>
                    <!-- Dropdown-->
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  @DateTime.Now.Date.Month/@DateTime.Now.Day/@DateTime.Now.Year   (@DateTime.Now.Hour:@DateTime.Now.Minute)  - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
