@model MVCDEMO.Models.Person

@{
    ViewBag.Title = "PersonDetails";
}

<h2>PersonDetails</h2>

<table style="font-family:Arial">
    <tr>
        <td><b>Person ID: </b></td>
        <td>@Model.P_Id</td>
    </tr>
    <tr>
        <td><b>LastName: </b></td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td><b>FirstName: </b></td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td><b>UserName: </b></td>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <td><b>Password: </b></td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td><b>Address: </b></td>
        <td>@Model.Address</td>
    </tr>







</table>