@*@model MVCDEMO.Models.Employee*@
@model IEnumerable<MVCDEMO.Models.Employee>
@{

    ViewBag.Title = "Details";

}

<h2>Details</h2>

@if (ViewData["nullIds"] != null)
{
    <p> ID DOES NOT EXIST </p>
    <span>
        @ViewData["nullIds"]
    </span>}
@foreach (var item in Model)
{<table style="font-family:Arial">

        <tr>
            <td>
                <b>Employee ID:</b>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId) &ndash;
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId })

            </td>
        </tr>
        <tr>
            <td>
                <b>Name:</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        <tr>
            <td>
                <b>Gender:</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
        </tr>
        <tr>
            <td>
                <b>City</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
        </tr>
        <tr>
            <td>
                <b>Department:</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
        </tr>
        <tr>
            <td>
                <b>EmailAddress:</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
        </tr>
        <tr>
            <td>
                <b>HireDate:</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
        </tr>
        <tr>
            <td>
                <b>Salary:</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
        </tr>
        <tr>
            <td>
                <b>PersonalWebSite:</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalWebSite)
            </td>
        </tr>
        <tr>
            <td>
                <b>Photo:</b>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(modelItem => item.Photo)
                </div>
            </td>
            <td>
                @if (item.Photo != null) { 
                <div class="display-field">
                    <img src="@Url.Content(item.Photo)" style="width:200px;height:200px"  alt="modelItem.AlternateText" />  
                
                </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                <b>AlternateText:</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlternateText)
            </td>
        </tr>
    </table>
    <br />
}

<div>
    @Html.ActionLink("Back to List", "viewAllEmployee", "Employee")
</div>

